@import "bootstrap/dist/css/bootstrap.min.css";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import 'vue-next-select/dist/index.min.css';
@import '../../node_modules/nprogress/nprogress.css';
@import "./style.css";


a{
    text-decoration: none;
}